@if (isAddingTask()) {
    <app-new-task
        (cancel)="onCancelAddingTask()"
        [selectedUserId]="selectedUserId()"
        [selectedUserName]="selectedUserName()"
    />
}

<div class="header">
    <h1>The {{ selectedUserName() }}'s tasks</h1>
    <div>
        <button (click)="onStartAddingTask()">Add task</button>
    </div>
</div>
<hr />

<div class="user-tasks">
    @if (doesUserHaveTasks()) {
        @for (task of selectedUserTasks(); track task.id) {
            <app-task [task]="task" />
        }
    } @else {
        <h1>The user still has no tasks.</h1>
    }
</div>
