<app-header />

<main>
    @if (isAddingTask()) {
        <app-new-task (cancel)="onCancelAddingTask()" (add)="addNewTask()" />
    }

    <div class="container">
        <ul class="user-list">
            @for (user of users; track user.id) {
                <li>
                    <app-user [user]="user" [selected]="user.id === selectedUserId" (select)="onSelectUser($event)">
                    </app-user>
                </li>
            }
        </ul>

        <div class="user-tasks">
            @if (selectedUser) {
                <app-tasks
                    (add)="onStartAddingTask()"
                    [selectedUserName]="selectedUser.name"
                    [selectedUserId]="selectedUserId"
                />
            } @else {
                <h1>Select a user to see their tasks</h1>
            }
        </div>
    </div>
</main>
