<app-header />

<main>
    <div class="container">
        <ul class="user-list">
            @for (user of users; track user.id) {
                <li>
                    <app-user [user]="user" (select)="onSelectUser($event)"> </app-user>
                </li>
            }
        </ul>

        <div class="user-tasks">
            @if (selectedUser) {
                <app-tasks [selectedUserId]="selectedUserId" />
            } @else {
                <h1>Select a user to see their tasks</h1>
            }
        </div>
    </div>
</main>
