<div (click)="onCancelTask()" class="backdrop"></div>

<form class="form" (ngSubmit)="onSubmit()">
    <div class="container">
        <h2>Add task</h2>

        <p>Title</p>
        <input type="text" name="title" id="title" [(ngModel)]="enteredTitle" />

        <p>Time</p>
        <input type="date" name="time" id="time-input" [(ngModel)]="enteredDate" />

        <p>Description</p>
        <input type="text" name="description" id="description" [(ngModel)]="enteredDescription" />

        <div class="button-section">
            <button (click)="onCancelTask()" class="cancel-button">Cancel</button>
            <button type="submit">Create</button>
        </div>
    </div>
</form>
