/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    color: white;
    background: black;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

button {
    width: 100px;
    border-radius: 10px;
    border: #a0a0a0 solid 1px;
    color: white;
    background: black;
    padding: 10px;
    margin-top: 15px;
    margin-left: auto;
    cursor: pointer;
}
